@mixin border-bottom {
  border-bottom: 2rpx solid #d0d0d0;
}
@mixin border {
  border: 2rpx solid #d0d0d0;
}

@mixin upload-img-wrapper {
  .img-list {
  margin-bottom: 100rpx;
  flex-wrap: wrap;
  .img-item {
    position: relative;
    width: 30%;
    margin-right: 5%;
    height: 200rpx;
    &:nth-child(3n + 3) {
      margin-right: 0
    }
    & > image {
      width: 100%;
    }
    .close-btn {
      position: absolute;
      right: 0;
      top: 0;
      width: 40rpx;
      height: 40rpx;
    }
  }
}
}
